
<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <a class="list-group-item list-group-item-action"
            [class.active]="!Category"
            routerLink="/"
            >All Categories</a>
            <li *ngFor="let c of categories$ | async" class="list-group-item">
                <a routerLink="/"
                    [queryParams]="{category: c.payload.key}">
                    {{ c.payload.val().name }}
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="row" *ngIf="cart$ | async as cart">
            <ng-container *ngFor="let p of products">
                <div class="col-md-4">
                    <product-card [product]="p" [shopping-cart]="cart"></product-card>
                </div>
            </ng-container>
        </div>
    </div>
</div>
